<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Password Check</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lobster&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <main>
            <h1>Password Check</h1>
            <div id="input"><input :type="inputType" id="passwordOne" v-model="passwordOne" @input="checkEqual()">
                <input :type="inputType" id="passwordTwo" v-model="passwordTwo" @input="checkEqual()">
                <button @click="passwordToggle()" v-text="buttonText"></button>
            </div>
            <ul>
                <li>Passwords are equal <div v-if="equality">✅</div>
                    <div v-else>❌</div>
                </li>
                <li>Lower Case Letters <div v-if="lowerCase">✅</div>
                    <div v-else>❌</div>
                </li>
                <li>Upper Case Letters <div v-if="upperCase">✅</div>
                    <div v-else>❌</div>
                </li>
                <li>Contains Numbers <div v-if="containsNumbers">✅</div>
                    <div v-else>❌</div>
                </li>
                <li>At least 10 characters long <div v-if="passwordLength">✅</div>
                    <div v-else>❌</div>
                </li>
            </ul>
        </main>
    </div>

    <script src=" https://unpkg.com/vue@3/dist/vue.global.js">
    </script>
    <script src="script.js"></script>

</body>

</html>